@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
  margin: 0 0 0 0;
}
main{
  font-family: 'Noto Sans KR', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.m-nav {
  width: 100%;
  height: auto;
  background-color: #151515;
}
.logo{
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.baner-back{
  padding:300px 100px;
  background-color: white;
  height: 300px;
}
.m-wrap{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#m-1 .wrap{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
#m-1 .txt{
  width: 600px;
  height: 500px;
}
#m-1 .img-box{
  width:600px;
  height: 500px;
  text-align: center;
}
#m-2 .wrap{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#m-2 .box{
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
#m-2 .txt{
  width: 600px;
  height: 500px;
}
#m-3 .wrap{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
#m-3 .box{
  text-align: right;
}
#m-3 .img-box-1{
  width: 470px;
  height: auto;
}
#m-3 .img-wrap-1{
  width: 470px;
  height: 590px;
}
#m-3 .img-1{
  width: 470px;
  height: 590px;
}
#m-3 .list-1{
  background-color: white;
  width: auto;
  height: 50%;
  top:50%;
  right: 50%;
  list-style-position: inside;
}
#m-3 .img-box-2{
  width: 470px;
  height: auto;
  text-align: right;
}
#m-3 .img-2{
  width: 470px;
  height: 590px;
}
#m-3 .list-2{
  background-color: white;
  width: auto;
  height: 50%;
  top: 50%;
  left: 50%;
  list-style-position: inside;
}
#m-4 .box{
  text-align: left;
}
.cf{
  margin: 0 0 0 0;
  font-size: 24px;
}
.cf-n{
  margin: 0 0 0 0;
  font-size: 30px;
}
.cf-en{
  margin: 0 0 0 0;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 5px;
}
@media all and (max-width: 1200px){
  *{align-items: center; text-align: center;}
  .logo{width: 30%; height: 30%;}
  .wrap{flex-direction: column;}
  .img{ height: auto; width: 100;}
  #m-1 .txt{width: 100%;}
  #m-1 .img-box{width:100%;height: auto;}
  #m-2 .txt{width: 100%;}
  #m-2 .box-wrap{width: 100%;height: auto;}
  #m-3 .box {padding-right: 0;}
  #m-3 .img-box-1{width: 100%;}
  #m-3 .img-wrap-1{width: 100%;height: auto;}
  #m-3 .img-1{width: 100%; height: auto;}
  #m-3 .img-box-2{width: 100%;}
  #m-3 .img-wrap-2{width: 100%;height: auto;}
  #m-3 .img-2{width: 100%; height: auto;}
}
